@import "../../../tools";

.container {
  padding-top: 2rem;

  .actions-wrapper {
    @include center();
    flex-direction: column;

    margin-bottom: 2rem;

    .actions {
      @include center();
      justify-content: space-between;
      width: 40%;

      .date {
        font-weight: 600;
      }
    }
  }

  .title {
    @include center();

    input {
      border: none;
      border-bottom: 2px solid #eee;
      font-size: 2.5rem;
      font-weight: 600;
      background: none;
      width: 40%;
      margin-bottom: 2rem;
    }
  }

  .short-desc {
    @include center();

    textarea {
      resize: none;
      border: none;
      border-bottom: 2px solid #eee;
      height: 6rem;
      font-size: 1rem;
      background: none;
      width: 40%;
      margin-bottom: 2rem;
    }
  }
}
