@import "../../../theme";
@import "../../../tools";

.container {
  @include center();
  display: inline-flex;
  cursor: pointer;
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;

  i {
    font-size: 1.5rem;
    color: $text-primary;
  }

  &:hover {
    background: #eee;
  }
}
