@import "../../../tools";
@import "../../../theme";

.container {
  display: grid;
  grid-template-columns: 10vw auto 15vw;
  align-items: center;
  padding: 1rem 2rem;
  background: $background;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 4rem;
      margin-right: 0.5rem;
    }

    .name {
      font-size: 1.5rem;
      font-weight: 600;
      outline: none;
      cursor: pointer;
    }
  }

  .tools {
    @include center();

    .search {
      @include center();
      width: 90%;
      padding: 0.6rem 1rem;
      background: #f0f0f0;
      border-radius: 0.5rem;

      input {
        margin-left: 1rem;
        outline: none;
        border: none;
        width: 96%;
        background: none;
      }
    }
  }

  .right {
    @include center();
    justify-content: flex-end;

    .user {
      @include center();
      outline: none;
      cursor: pointer;

      img {
        width: 2rem;
        height: 2rem;
      }

      .name {
        margin-left: 0.5rem;
        font-weight: 600;
      }
    }
  }
}
