<div class="container">
  <!-- <div class="back" (click)="back()">
    <i class="las la-angle-left"></i>
  </div> -->
  <ng-container *ngIf="user">
    <div class="user">
      <div class="intro">
        <div class="cover-img">
          <img [src]="user.coverImg" alt="" />
        </div>
        <div class="info">
          <div class="profile-img">
            <img [src]="user.profileImg" alt="" />
          </div>
          <div class="about">
            <div class="name">{{ user.name }}</div>
            <div class="followings">
              {{ user.followers.length }} Followers
              <strong>&</strong>
              {{ user.following.length }} Following
            </div>
          </div>
        </div>
      </div>
      <div class="creations">
        <div class="sidebar">
          <div
            class="section"
            [ngClass]="{ active: currentSection === '' }"
            (click)="navigate('')"
          >
            <i class="las la-user"></i>
            <div class="name">Profile</div>
          </div>
          <div
            class="section"
            [ngClass]="{ active: currentSection === 'collections' }"
            (click)="navigate('collections')"
          >
            <i class="las la-layer-group"></i>
            <div class="name">Collections</div>
          </div>
          <div
            class="section"
            [ngClass]="{ active: currentSection === 'exclusives' }"
            (click)="navigate('exclusives')"
          >
            <i class="las la-crown"></i>
            <div class="name">Exclusives</div>
          </div>
          <div
            class="section"
            [ngClass]="{ active: currentSection === 'about' }"
            (click)="navigate('about')"
          >
            <i class="las la-info"></i>
            <div class="name">About</div>
          </div>
        </div>
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </ng-container>
</div>
