@import "../../../tools";

.container {
  .back {
    @include center();
    // position: fixed;
    // top: 1.5rem;
    // left: 2.5rem;

    padding: 1rem;
    display: inline-block;
    border-radius: 5rem;
    cursor: pointer;
    width: 3.6rem;
    height: 3.5rem;

    i {
      font-size: 1.5rem;
    }

    &:hover {
      background: #eee;
    }
  }

  .user {
    .intro {
      .cover-img {
        width: 100vw;
        min-height: 25rem;
        max-height: 45vh;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: -10rem;

        .profile-img {
          display: inline-block;
          margin-left: 5rem;
          border-radius: 10rem;

          img {
            width: 15rem;
            height: 15rem;
          }
        }

        .about {
          margin-left: 1rem;

          .name {
            font-size: 1.7rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
