@import "../../../tools";

.container {
  @include center();
  align-items: flex-start;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: 20vw 60vw 20vw;

  .article {
    .title {
      font-size: 2.8rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .short-desc {
      font-size: 1rem;
    }

    .info {
      @include center();
      justify-content: space-between;

      .author {
        @include center();
        justify-content: flex-start;
        margin: 2rem 0;
        outline: none;
        cursor: pointer;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 5rem;
          padding: 0.5rem;

          &:hover {
            background: #eee;
          }
        }

        .name {
          margin-left: 0.5rem;
        }
      }

      .date-published {
        @include center();

        i {
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }

        .date {
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
}
