@import "../../../tools";
@import "../../../theme";

.container {
  @include detach-position();
  @include full-screen();
  @include center();

  z-index: 1e3;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: brightness(90%) blur(3px);
  }

  .backdrop {
    @include detach-position();
    @include full-screen();
    z-index: -10;
  }

  main {
    background: $background;
    width: 50vw;
    max-width: 60vw;
    max-height: 70vh;
    padding: 1.5rem;
    border-radius: 1rem;
    z-index: 10;

    .header {
      @include center();
      justify-content: space-between;
      margin-bottom: 1rem;

      .title {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
}
