@import "../../../tools";

.loading {
  @include center();

  img {
    &.small {
      width: 3rem;
    }
    &.medium {
      width: 4.5rem;
    }
    &.large {
      width: 6rem;
    }
  }
}
