<ng-container *ngIf="article; else loadingArticle">
  <div
    class="card"
    [ngClass]="{ full: variant === 'full', short: variant === 'short' }"
    [routerLink]="['article', article.id]"
  >
    <div class="thumbnail">
      <img [src]="article.thumbnail" alt="" />
    </div>
    <div class="info">
      <div class="content">
        <div class="author" [routerLink]="['user', article.authorId]">
          <img [src]="article.author.profileImg" alt="" />
          <div class="name">{{ article.author.name }}</div>
        </div>
        <div class="title">{{ article.title }}</div>
        <div class="short-desc">{{ article.shortDesc }}</div>
      </div>
      <div class="date-published">
        {{ article.datePublished | date: "dd MMMM yyyy" }}
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingArticle> Loading {{ id }} </ng-template>
