@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hide-scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

@mixin detach-position {
  position: absolute;
  top: 0;
  left: 0;
}
