@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

@import "./theme";
@import "./tools";

* {
  box-sizing: border-box;
  font-family: "Poppins", Verdana, "Roboto Slab", sans-serif;
  color: $text-primary;
  outline: none;
  transition: all 0.2s ease-out;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $background;
  overflow-x: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button {
  @include center();
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: $primary;

  * {
    color: $background;
  }

  i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }

  &:hover {
    background: darken($primary, 15);
  }
}
